@charset "utf-8";

/* loan-N1 */
.loan-N1 {
    position: sticky;
    top: 0;
    z-index: 99;
    width: 100%;
    background: var(--white)
}

.loan-N1.top-menu-active {
    padding-top: 6.7rem
}

.loan-N1 .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8rem;
    min-height: 10rem
}

.loan-N1 .header-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #e5e5e5
}

.loan-N1 .user-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 8rem;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px
}

.loan-N1 .user-menu li {
    position: relative
}

.loan-N1 .user-menu li:not(:first-child)::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 0.1rem;
    height: 1.2rem;
    background: #e5e5e5
}

.loan-N1 .user-menu li a {
    padding: 2rem 1.2rem;
    font-weight: 400;
    text-align: center;
    white-space: nowrap
}

.loan-N1 .user-menu li:last-child a {
    padding: 2rem 0 2rem 1.2rem
}

.loan-N1 .header-left {
    display: flex;
    align-items: center;
    gap: 3rem
}

.loan-N1 .header-title {
    margin-bottom: 0
}

.loan-N1 .header-title a {
    height: 3.2rem
}

.loan-N1 .header-title img {
    height: 100%;
    object-fit: contain;
    vertical-align: top;
    transition: filter 0.3s
}

.loan-N1 .header-center {
    flex: 1
}

.loan-N1 .header-gnblist {
    display: flex;
    align-items: center;
    height: 100%
}

.loan-N1 .header-gnbitem {
    position: relative
}

.loan-N1 .header-gnblink {
    padding: 2.8rem 3rem;
    height: 100%;
    font-weight: 500;
    text-align: center;
    white-space: nowrap
}

.loan-N1 .header-gnblink span {
    position: relative;
    transition: color 0.3s
}

.loan-N1 .header-gnblink span::after {
    content: "";
    transform: scaleX(0);
    width: 100%;
    height: 0.2rem;
    transition: 0.3s
}

.loan-N1 .header-sublist {
    position: absolute;
    top: 100%;
    overflow: hidden;
    width: 100%;
    min-height: 0;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none
}

.loan-N1 .header-gnbitem:hover .header-sublist {
    overflow: hidden;
    min-height: auto;
    opacity: 1;
    pointer-events: auto
}

.loan-N1 .header-gnbitem:hover .header-gnblink span::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 100%;
    transform: scaleX(1);
    background-color: var(--text-color1)
}

.loan-N1 .header-subitem {
    overflow: hidden;
    background: var(--white)
}

.loan-N1 .header-sublink {
    padding: 1rem;
    width: 100%;
    font-weight: 500;
    transition: color 0.2s, background 0.2s;
    will-change: color, background
}

.loan-N1 .header-sublink:hover {
    background: var(--text-color1);
    color: var(--white)
}

.loan-N1 .header-right {
    display: flex;
    align-items: center
}

.loan-N1 .header-right .header-gnb {
    margin-right: 1.8rem
}

.loan-N1 .header-utils>ul {
    display: flex;
    align-items: center
}

.loan-N1 .header-utils>ul>li {
    margin-left: 1.2rem
}

.loan-N1 .header-utils>ul>li>img {
    width: auto;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
    transition: filter 0.3s
}

.loan-N1 .header-right .ico-message::before {
    content: "";
    width: 2rem;
    height: 2rem;
    background: url(../icons/ico_message.svg) no-repeat center/contain
}

.loan-N1 .header-right .ico-tel::before {
    content: "";
    width: 2rem;
    height: 2rem;
    background: url(../icons/ico_tel.svg) no-repeat center/contain
}

.loan-N1 .btnset.btnset-sm.btnset-icon::before {
    font-size: 2rem
}

.loan-N1 .header-right button {
    max-width: 3.2rem;
    background: none;
    border: none
}

.loan-N1 .header-right button img {
    width: auto;
    max-height: 100%;
    object-fit: cover;
    vertical-align: top
}

.loan-N1 .header-utils .member a {
    display: block;
    width: 3.2rem;
    height: 3.2rem;
    font-size: 0
}

.loan-N1 .header-utils .member img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    vertical-align: top
}

.loan-N1 .header-utils .btn-allmenu {
    display: flex;
    flex-direction: column;
    gap: 0.6rem
}

.loan-N1 .header-utils .btn-allmenu:hover .ico-hamburger:nth-child(2) {
    width: 2.4rem
}

.loan-N1 .header-utils .btn-allmenu .ico-hamburger,
.loan-N1 .btn-momenu .ico-hamburger {
    width: 2.4rem;
    height: 0.2rem;
    background: var(--text-color1);
    border-radius: 1rem;
    transition: width 0.3s, transform 0.3s, opacity 0.3s;
    will-change: width, transform, opacity
}

.loan-N1 .header-utils .btn-allmenu .ico-hamburger:nth-child(even),
.loan-N1 .btn-momenu .ico-hamburger:nth-child(2) {
    width: 1.4rem
}

.loan-N1 .btn-momenu {
    display: none
}

.loan-N1 .btn-moclose {
    display: none
}

.loan-N1 .header-fullmenu {
    overflow: hidden;
    position: fixed;
    z-index: 99999;
    padding: 0 2.4rem;
    visibility: hidden;
    background: var(--black);
    transition: 0.3s;
    opacity: 0
}

.loan-N1 .header-fullmenu.fullmenu-right {
    top: 0;
    right: 0;
    width: 0;
    height: 100%
}

.loan-N1 .header-fullmenu.fullmenu-left {
    top: 0;
    left: 0;
    width: 0;
    height: 100%
}

.loan-N1 .header-fullmenu.fullmenu-top {
    width: 100%;
    height: 0;
    top: 0;
    left: 0
}

.loan-N1 .header-fullmenu.fullmenu-bottom {
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0
}

.loan-N1 .header-fullmenu.fullmenu-active {
    visibility: visible;
    width: 100%;
    height: 100vh;
    opacity: 1
}

.loan-N1 .fullmenu-wrapper {
    position: relative;
    top: 50%;
    margin: 0 auto;
    transform: translateY(-50%);
    width: 100%;
    max-width: 128rem
}

.loan-N1 .fullmenu-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10rem
}

.loan-N1 .fullmenu-title {
    margin-bottom: 0
}

.loan-N1 .fullmenu-title a {
    height: 4.3rem
}

.loan-N1 .fullmenu-title img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.loan-N1 .fullmenu-member {
    display: flex;
    position: absolute;
    top: 0;
    right: 0
}

.loan-N1 .fullmenu-member li {
    position: relative
}

.loan-N1 .fullmenu-member li a {
    padding: 1.2rem;
    font-weight: 500;
    color: var(--white)
}

.loan-N1 .fullmenu-member li::marker {
    content: ""
}

.loan-N1 .fullmenu-member li+li::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0.1rem;
    height: 1.4rem;
    background: rgba(255, 255, 255, 0.2)
}

.loan-N1 .fullmenu-gnblist {
    display: flex;
    justify-content: center
}

.loan-N1 .fullmenu-gnbitem {
    width: 20%
}

.loan-N1 .fullmenu-gnbitem+.fullmenu-gnbitem {
    margin-left: 4rem
}

.loan-N1 .fullmenu-gnblink {
    position: relative;
    padding-bottom: 4rem;
    width: 100%;
    font-weight: 500;
    color: var(--white);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2)
}

.loan-N1 .fullmenu-gnblink::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0.1rem;
    background: var(--white);
    transition: 0.2s
}

.loan-N1 .fullmenu-gnblink.on::after {
    width: 18rem
}

.loan-N1 .fullmenu-sublist {
    padding-top: 4rem
}

.loan-N1 .fullmenu-subitem+.fullmenu-subitem {
    padding-top: 0.8rem
}

.loan-N1 .fullmenu-sublink {
    position: relative;
    padding-bottom: 5px;
    font-weight: 400;
    color: #a2a2a2;
    transition: 0.3s
}

.loan-N1 .fullmenu-sublink::before {
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    width: 0;
    height: 1px;
    background-color: var(--white);
    transition: width 0.7s cubic-bezier(0.22, 0.61, 0.36, 1)
}

.loan-N1 .fullmenu-sublink:hover {
    color: var(--white)
}

.loan-N1 .fullmenu-sublink:hover::before {
    right: auto;
    left: 0;
    width: 100%
}

.loan-N1 .fullmenu-close {
    position: fixed;
    right: 8rem;
    top: 2.4rem;
    padding: 0.5rem;
    width: 4.2rem;
    height: 4.2rem;
    background: transparent;
    border: none
}

.loan-N1 .fullmenu-close img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

@media (max-width: 1120px) {
    .loan-N1 .header-container {
        gap: 4rem
    }

    .loan-N1 .header-gnblink {
        padding: 2.8rem 2.4rem
    }
}

@media (max-width: 992px) {
    .loan-N1 {
        padding-top: 0;
        padding-bottom: 0
    }

    .loan-N1 .header-gnb {
        overflow: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 9;
        padding: 0 1.6rem;
        width: 100%;
        height: 0;
        background-color: var(--white);
        transition: height 0.3s
    }

    .loan-N1 .header-gnb::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.12) 60%, rgba(0, 0, 0, 0) 100%);
        transition: opacity 0.3s, visibility 0.3s
    }

    .loan-N1.block-active .header-gnb {
        overflow-y: auto;
        height: calc(100vh - 6rem);
        padding-bottom: 19rem
    }

    .loan-N1 .header-container {
        gap: 2.2rem;
        min-height: 6rem
    }

    .loan-N1 .header-top {
        z-index: 10;
        visibility: hidden;
        border: none;
        opacity: 0;
        transition: opacity 0.3s 0.1s, visibilty 0.3s 0.1s;
        will-change: opacity, visibility
    }

    .loan-N1.block-active .header-top {
        top: 100%;
        opacity: 1;
        visibility: visible
    }

    .loan-N1 .user-menu {
        justify-content: flex-start;
        padding: 0 2.2rem
    }

    .loan-N1 .user-menu li a,
    .loan-N1 .user-menu li:last-child a {
        padding: 2.4rem 1.2rem
    }

    .loan-N1 .user-menu li:first-child a {
        padding-left: 0
    }

    .loan-N1 .header-title a {
        width: 6rem;
        height: 2.6rem
    }

    .loan-N1 .header-center {
        position: absolute;
        top: 100%;
        left: 0;
        transform: none;
        width: 100%;
        height: 0
    }

    .loan-N1 .header-gnblist {
        display: block;
        visibility: hidden;
        transition: opacity 0.3s 0.1s;
        opacity: 0
    }

    .loan-N1 .header-gnblink {
        display: flex;
        align-items: flex-end;
        padding: 1.8rem 0;
        width: 100%;
        text-align: left;
        transition: border 0.3s;
        will-change: border;
        border-bottom: 1px solid #e5e5e5
    }

    .loan-N1.top-menu-active .header-gnbitem:first-child .header-gnblink {
        padding-top: 6.8rem
    }

    .loan-N1 .header-gnbitem:hover .header-gnblink span {
        border: none
    }

    .loan-N1 .header-gnbitem:hover .header-gnblink span::after {
        content: none
    }

    .loan-N1 .header-sublist {
        display: none;
        position: relative;
        padding: 1.8rem 0 2rem 0;
        opacity: 1
    }

    .loan-N1 .header-gnbitem.item-active .header-gnblink {
        border-bottom: 1px solid var(--text-color1)
    }

    .loan-N1 .header-subitem {
        width: 100%
    }

    .loan-N1 .header-subitem+.header-subitem {
        padding-top: 0.8rem
    }

    .loan-N1 .header-sublink {
        padding: 0;
        color: var(--text-color3)
    }

    .loan-N1 .header-sublink:active {
        color: var(--text-color1)
    }

    .loan-N1 .header-sublink:hover {
        background: var(--white);
        color: var(--text-color1)
    }

    .loan-N1 .header-right button,
    .loan-N1 .header-utils .member a {
        width: 2.8rem;
        height: 2.8rem
    }

    .loan-N1 .header-utils>ul>li {
        margin-left: 0.6rem
    }

    .loan-N1 .header-utils .allmenu {
        display: none
    }

    .loan-N1 .header-right .btnset+.btnset {
        margin-left: 0.4rem
    }

    .loan-N1 .header-right .btnset {
        gap: 0;
        font-size: 0
    }

    .loan-N1 .header-right .btnset-icon::before {
        margin: 0
    }

    .loan-N1 .header-right .btnset.btnset-round {
        padding: 0 1.6rem;
        white-space: nowrap
    }

    .loan-N1 .btn-momenu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.6rem;
        margin-left: 0.6rem
    }

    .loan-N1 .btn-momenu .ico-hamburger {
        width: 2rem
    }

    .loan-N1 .btn-momenu .ico-hamburger:nth-child(2) {
        width: 1.2rem
    }

    .loan-N1.block-active .header-center {
        pointer-events: auto
    }

    .loan-N1.block-active .header-title {
        display: flex;
        align-items: center;
        height: 6rem
    }

    .loan-N1.block-active .header-gnblist {
        visibility: visible;
        opacity: 1
    }

    .loan-N1 .header-gnbitem:has(.header-sublist) .header-gnblink::after {
        content: "";
        display: flex;
        width: 1.6rem;
        height: 1.6rem;
        background-image: url(../icons/ico_downarrow_black.svg);
        background-repeat: no-repeat;
        background-position: center right;
        background-size: cover;
        transition: transform 0.3s;
        will-change: transform
    }

    .loan-N1.block-active .header-gnblink {
        align-items: center;
        justify-content: space-between
    }

    .loan-N1.block-active .header-gnbitem.item-active .header-gnblink::after {
        content: "";
        transform: rotate(180deg)
    }

    .loan-N1.block-active .header-member {
        display: flex
    }

    .loan-N1.block-active .btn-momenu .ico-hamburger:nth-child(1) {
        transform: translateY(0.8rem) rotate(45deg)
    }

    .loan-N1.block-active .btn-momenu .ico-hamburger:nth-child(3) {
        transform: translateY(-0.8rem) rotate(-45deg)
    }

    .loan-N1.block-active .btn-momenu .ico-hamburger:nth-child(2) {
        visibility: hidden;
        opacity: 0
    }

    .loan-N1 .header-fullmenu {
        display: none
    }
}
/* hooms-N4 */
.hooms-N4 {
    position: relative;
    overflow: hidden
}

.hooms-N4 .contents-container {
    display: flex;
    justify-content: center;
    height: 80rem
}

.hooms-N4 .slide-area,
.hooms-N4 .swiper {
    width: 100vw;
    height: 100%
}

.hooms-N4 .swiper-slide {
    position: relative
}

.hooms-N4 .contents-backimg {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.hooms-N4 .contents-slide-group {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    padding: 0 16rem;
    width: 100%;
    text-align: center
}

.hooms-N4 .container-lg .contents-slide-group {
    max-width: calc(1440px + 32rem)
}

.hooms-N4 .container-md .contents-slide-group {
    max-width: calc(1280px + 32rem)
}

.hooms-N4 .container-sm .contents-slide-group {
    max-width: calc(1024px + 32rem)
}

.hooms-N4 .contents-title {
    display: block;
    position: relative;
    padding-bottom: 2.6rem;
    color: #fff;
    font-weight: var(--fw-medium)
}

.hooms-N4 .contents-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 6rem;
    height: 0.2rem;
    background-color: var(--white)
}

.hooms-N4 .contents-text {
    margin: 2.4rem 0 4rem;
    color: #fff;
    font-weight: var(--fw-regular)
}

.hooms-N4 .contents-control {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 50%;
    bottom: 8rem;
    transform: translateX(-50%);
    z-index: 100
}

.hooms-N4 .swiper-button-prev:after {
    content: "";
    width: 2.6rem;
    height: 6.2rem;
    background-image: url(../icons/ico_arrow_withe.svg);
    background-position: center;
    background-size: cover
}

.hooms-N4 .swiper-button-prev,
.hooms-N4 .swiper-button-next {
    opacity: 0.5;
    transition: opacity 0.3s
}

.hooms-N4 .swiper-button-prev:hover::after {
    opacity: 1
}

.hooms-N4 .swiper-button-prev {
    left: 8.2rem;
    transform: rotate(180deg)
}

.hooms-N4 .swiper-button-next {
    right: 8.2rem
}

.hooms-N4 .swiper-button-next:after {
    content: "";
    width: 2.6rem;
    height: 6.2rem;
    background-image: url(../icons/ico_arrow_withe.svg);
    background-position: center;
    background-size: cover;
    opacity: 0.5
}

.hooms-N4 .swiper-button-next:hover::after {
    opacity: 1
}

.hooms-N4 .swiper-pagination {
    position: static
}

.hooms-N4 .swiper-pagination-bullet {
    width: 1rem;
    height: 1rem;
    margin: 0;
    background-color: transparent;
    border: 1px solid #979797;
    opacity: 1
}

.hooms-N4 .swiper-pagination-bullet+.swiper-pagination-bullet {
    margin-left: 0.8rem
}

.hooms-N4 .swiper-pagination-bullet-active {
    background-color: var(--white);
    border: none
}

@media (max-width: 1200px) {
    .hooms-N4 .slide-area {
        width: 100%
    }

    .hooms-N4 .swiper {
        margin-left: -4rem;
        width: calc(100% + 8rem)
    }

    .hooms-N4 .contents-slide-group {
        padding: 0 8rem
    }

    .hooms-N4 .container-lg .contents-slide-group {
        max-width: calc(1440px + 16rem)
    }

    .hooms-N4 .container-md .contents-slide-group {
        max-width: calc(1280px + 16rem)
    }

    .hooms-N4 .container-sm .contents-slide-group {
        max-width: calc(1024px + 16rem)
    }

    .hooms-N4 .swiper-button-prev {
        left: 4rem
    }

    .hooms-N4 .swiper-button-next {
        right: 4rem
    }
}

@media (max-width: 992px) {
    .hooms-N4 .contents-container {
        height: 76rem
    }

    .hooms-N4 .swiper {
        margin-left: -1.6rem;
        width: calc(100% + 3.2rem)
    }

    .hooms-N4 .contents-slide-group {
        padding: 0 1.6rem;
        text-align: left
    }

    .hooms-N4 .container-lg .contents-slide-group {
        max-width: calc(1440px + 3.2rem)
    }

    .hooms-N4 .container-md .contents-slide-group {
        max-width: calc(1280px + 3.2rem)
    }

    .hooms-N4 .container-sm .contents-slide-group {
        max-width: calc(1024px + 3.2rem)
    }

    .hooms-N4 .contents-title {
        padding-bottom: 1.4rem
    }

    .hooms-N4 .contents-title::after {
        left: 0;
        transform: none;
        width: 4rem
    }

    .hooms-N4 .contents-text {
        margin-top: 1.2rem
    }

    .hooms-N4 .swiper-button-next,
    .hooms-N4 .swiper-button-prev {
        display: none
    }

    .hooms-N4 .contents-control {
        left: 1.6rem;
        bottom: 3.4rem;
        transform: none
    }

    .hooms-N4 .swiper-pagination {
        width: auto
    }

    .hooms-N4 .swiper-pagination-bullet {
        width: 0.8rem;
        height: 0.8rem
    }

    .hooms-N4 .swiper-pagination-bullet+.swiper-pagination-bullet {
        margin-left: 0.4rem
    }
}
/* loan-N7 */
.loan-N7 {
    overflow: hidden;
    position: relative;
    padding-top: 16rem;
    padding-bottom: 16rem
}

.loan-N7 .contents-inner {
    width: 100%
}

.loan-N7 .title-area {
    margin-bottom: 8rem;
    width: 100%;
    text-align: center
}

.loan-N7 .group-col {
    display: flex;
    align-items: center;
    gap: 4rem
}

.loan-N7 .col-left {
    display: flex;
    /*align-items: center;*/
    flex: 1 1 50.6rem;

    flex-direction: column;
    align-self: stretch;

}

/* 새로 추가 */
.loan-N7 .col-left > .pagination-container {
    margin-top: auto;  /* 위쪽에 남는 공간을 자동으로 밀어넣어, 이 블록을 아래로 */
    align-self: center;
    margin: auto 0;
}

#tbody-id {
    margin: auto 0; /* 위아래 마진을 자동으로 채워서 세로 중앙 */
}

.keyword {
    margin-top: 2rem;
    align-self: stretch;
}





.loan-N7 .process-area {
    overflow-y: auto;
    padding-right: 2rem;
    max-height: 56.2rem
}

.loan-N7 .process-area::-webkit-scrollbar {
    width: 0.4rem
}

.loan-N7 .process-area::-webkit-scrollbar-button {
    display: none
}

.loan-N7 .process-area::-webkit-scrollbar-thumb {
    background-color: #767676;
    border-radius: 10rem
}

.loan-N7 .process-area::-webkit-scrollbar-track {
    background-color: #e9e9e9;
    border-radius: 1rem
}

.loan-N7 .item:not(:last-child) {
    padding-bottom: 2.4rem;
    border-bottom: 1px solid var(--border-color)
}

.loan-N7 .item+.item {
    margin-top: 2.4rem
}

.loan-N7 .item span {
    color: var(--primary);
    font-weight: var(--fw-bold)
}

.loan-N7 .item strong {
    display: block;
    margin: 0.6rem 0 1.8rem;
    font-weight: var(--fw-bold)
}

.loan-N7 .item p {
    color: var(--text-color3)
}
/*
flex: 1 1 86.5rem; 이었음
 */

.loan-N7 .col-right {
    flex: 1 1 60rem;
    align-self: stretch;
    padding: 4rem;
    background: #EEF5FF;
    border-radius: 1.6rem;
    order: -1
}

.loan-N7 .col-right h2 {
    text-align: center;
    margin-bottom: 3.2rem
}

.loan-N7 .form-group form {
    width: 100%;
    height: 100%
}

.loan-N7 .form-box+.form-box {
    margin-top: 2.4rem
}

.loan-N7 .form-group .inputset,
.loan-N7 .form-group .selectset {
    display: flex;
    align-items: center;
    gap: 0.8rem
}

.loan-N7 .form-group .form-tit {
    flex: 1 0 8.2rem;
    margin: 0;
    max-width: 8.2rem;
    text-wrap: nowrap;
    font-weight: var(--fw-medium)
}

.loan-N7 .form-group .form-tit span {
    color: #c90000
}

.loan-N7 .form-group .radio-wrap {
    display: flex;
    align-items: center;
    gap: 0.8rem
}

.loan-N7 .radioset.radioset-thumb .radioset-label {
    font-weight: var(--fw-medium)
}

.loan-N7 .selectset .selectset-arrow {
    position: absolute;
    right: 0
}

.loan-N7 .selectset .selectset-arrow::after {
    right: 2.6rem
}

.loan-N7 .form-group .contents-agree {
    display: flex;
    margin: 0;
    padding-left: 9rem
}

.loan-N7 .form-group .contents-agree .wrap {
    display: flex;
    align-items: center
}

.loan-N7 .checkset .checkset-label::before {
    width: 2.4rem;
    height: 2.4rem
}

.loan-N7 .checkset .checkset-label::after {
    font-size: 2.4rem
}

.loan-N7 .form-btn {
    margin: 4rem auto 0;
    text-align: center
}

.loan-N7 .form-btn .btnset.btnset-round {
    font-weight: var(--fw-medium)
}

.loan-N7 .info-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.4rem;
    border-bottom: 1px solid #e5e5e5
}

.loan-N7 .info-title h3 {
    font-size: var(--fs-h4)
}

.loan-N7 .modal-close {
    cursor: pointer
}

.loan-N7 .info-area {
    overflow-y: auto
}

.loan-N7 .info-group+.info-group {
    margin-top: 2.4rem
}

.loan-N7 .info-group strong {
    display: block;
    padding-bottom: 1.2rem;
    font-size: var(--fs-h5)
}

.loan-N7 .info-desc {
    overflow-y: auto;
    padding: 1.6rem;
    max-height: 20.7rem;
    background: #f8f8fa;
    border-radius: 1.6rem
}

.loan-N7 .info-desc::-webkit-scrollbar {
    width: 6px
}

.loan-N7 .info-desc::-webkit-scrollbar-track {
    background-color: #ddd
}

.loan-N7 .info-desc::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 3px
}

.loan-N7 .info-desc p {
    font-size: var(--fs-p1)
}

.loan-N7 .info-desc p.fw-medium {
    font-weight: var(--fw-medium)
}

.loan-N7 .info-desc .mtb {
    margin: 2.4rem 0
}

.loan-N7 .info-desc em {
    display: flex;
    align-items: center;
    position: relative;
    margin: 2.4rem 0 1rem;
    font-style: normal;
    font-weight: 600
}

.loan-N7 .info-list em::before {
    content: "";
    margin-right: 0.8rem;
    width: 0.4rem;
    height: 0.4rem;
    background: var(--black);
    border-radius: 50%
}

.loan-N7 .info-list p {
    padding-left: 1.2rem
}

.loan-N7 .modal-confirm .modal-area {
    position: relative;
    padding: 3.2rem;
    max-width: 36rem;
    background: var(--text-color1);
    border-radius: 0.8rem
}

.loan-N7 .modal-confirm .modal-icon {
    position: absolute;
    top: 1.4rem;
    right: 1.6rem;
    width: 2.8rem;
    height: 2.8rem;
    border: 0;
    background: transparent
}

.loan-N7 .modal-confirm .modal-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain
}

.loan-N7 .modal-confirm .modal-figure {
    margin: 0 auto;
    width: 5.6rem;
    height: 5.6rem
}

.loan-N7 .modal-confirm .modal-figure img {
    width: 100%;
    height: 100%;
    object-fit: contain
}

.loan-N7 .modal-confirm .modal-body {
    font-size: var(--fs-p1);
    text-align: center;
    color: var(--white)
}

.loan-N7 .modal-confirm .modal-textarea {
    margin: 1.6rem 0
}

.loan-N7 .modal-confirm .modal-footer {
    text-align: center
}

.loan-N7 .modal-confirm .modal-footer .btnset {
    min-width: 9.4rem;
    height: 4rem;
    border-radius: 0.4rem
}

.loan-N7 .modal-confirm .modal-footer .btnset.btnset-line-light {
    border-color: var(--white);
    color: var(--white)
}

.loan-N7 .modalset .modalset-close::before {
    color: var(--text-color1)
}

@media (max-width: 992px) {
    .loan-N7 {
        padding-top: 8rem;
        padding-bottom: 8rem
    }

    .loan-N7 .title-area {
        margin-bottom: 4rem
    }

    .loan-N7 .group-col {
        flex-direction: column;
        gap: 1.6rem
    }

    .loan-N7 [class*="col-"] {
        flex: none;
        width: 100%
    }

    .loan-N7 .process-area {
        padding-right: 0.4rem;
        width: 100%;
        max-height: 53rem
    }

    .loan-N7 .item:not(:last-child) {
        padding-bottom: 2rem
    }

    .loan-N7 .item+.item {
        margin-top: 2rem
    }

    .loan-N7 .item strong {
        margin: 0.4rem 0 1.4rem
    }

    .loan-N7 .col-right {
        padding: 2rem 2.6rem;
        min-height: 24.2rem
    }

    .loan-N7 .col-right h2 {
        margin-bottom: 2.4rem
    }

    .loan-N7 .form-box+.form-box {
        margin-top: 1.6rem
    }

    .loan-N7 .form-group .inputset,
    .loan-N7 .form-group .selectset {
        gap: 0.6rem
    }

    .loan-N7 .selectset .selectset-arrow::after {
        right: 1.6rem;
        font-size: 1.6rem
    }

    .loan-N7 .form-group .form-tit {
        max-width: 7.2rem
    }

    .loan-N7 .form-group .radio-wrap {
        gap: 0.6rem
    }

    .loan-N7 .form-group .contents-agree {
        padding-left: 0
    }

    .loan-N7 .checkset .checkset-label::before {
        width: 1.8rem;
        height: 1.8rem
    }

    .loan-N7 .checkset .checkset-label::after {
        font-size: 1.8rem
    }

    .loan-N7 .checkset .checkset-label {
        padding-left: 2.6rem
    }

    .loan-N7 .form-btn {
        margin-top: 2.6rem;
        max-width: 14.1rem
    }

    .loan-N7 .modal-confirm .modal-figure {
        width: 4.8rem;
        height: 4.8rem
    }

    .loan-N7 .modal-confirm .modal-textarea {
        margin: 0.8rem 0
    }
}

@media (max-width: 576px) {
    .loan-N7 .title-area h2 br {
        display: none
    }

    .loan-N7 .list-area {
        grid-template-columns: 1fr
    }
}
/* loan-N3 */
.loan-N3 {
    overflow: hidden;
    position: relative;
    padding-top: 6rem;
    padding-bottom: 6rem;
    background: #fbfbff
}

.loan-N3 .footer-logo {
    margin-bottom: 0;
    text-align: center
}

.loan-N3 .footer-logo img {
    height: 2.8rem;
    object-fit: contain
}

.loan-N3 .footer-gnb {
    display: flex;
    justify-content: center;
    margin-top: 7rem
}

.loan-N3 .gnb-item {
    position: relative;
    width: 20%
}

.loan-N3 .gnb-item a {
    font-weight: var(--fw-medium);
    background-size: cover
}

.loan-N3 .gnb-item+.gnb-item {
    padding-left: 4rem
}

.loan-N3 .gnb-item+.gnb-item::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 100%;
    background: rgba(255, 255, 255, 0.1)
}

.loan-N3 .footer-sublist {
    margin-top: 1.6rem
}

.loan-N3 .footer-sublist a {
    width: 100%
}

.loan-N3 .sub-item {
    transition: color 0.3s;
    will-change: color
}

.loan-N3 .sub-item:hover a {
    color: var(--white)
}

.loan-N3 .footer-snslist {
    display: flex;
    justify-content: center;
    margin-top: 4rem
}

.loan-N3 .footer-snsitem+.footer-snsitem {
    margin-left: 0.8rem
}

.loan-N3 .footer-snslink {
    width: 3.6rem;
    height: 3.6rem
}

.loan-N3 .footer-snslink img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.loan-N3 .footer-menulist {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem
}

.loan-N3 .footer-menulink a {
    padding-right: 1.2rem;
    text-align: center;
    font-size: var(--fs-p2)
}

.loan-N3 .footer-menulink+.footer-menulink a {
    padding-left: 1.2rem
}

.loan-N3 .footer-menulink {
    position: relative
}

.loan-N3 .footer-menulink+.footer-menulink::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 1.4rem;
    background: rgba(85, 85, 85, 0.15)
}

.loan-N3 .footer-txtgroup {
    margin-top: 2.8rem
}

.loan-N3 .footer-txt {
    display: flex;
    justify-content: center
}

.loan-N3 .footer-txt+.footer-txt {
    margin-top: 1rem
}

.loan-N3 .footer-txt p.addr-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.1rem;
    color: #767676
}

.loan-N3 .footer-txt p.addr-info span {
    display: flex;
    align-items: center;
    position: relative
}

.loan-N3 .footer-txt p.addr-info span:not(:first-child)::before {
    content: "";
    position: absolute;
    left: -1.1rem;
    width: 0.1rem;
    height: 1.4rem;
    background: rgba(85, 85, 85, 0.15)
}

.loan-N3 .footer-txt p {
    width: 100%;
    margin-bottom: 0
}

.loan-N3 .footer-txt .copy {
    text-align: center
}

.loan-N3 .footer-txt p+p {
    margin-left: 0.8rem
}

.loan-N3 .footer-alert {
    margin: 0 0 4rem;
    padding: 4rem 3rem;
    background: var(--white);
    border-radius: 1.6rem
}

.loan-N3 .footer-alert .footer-txt {
    display: flex;
    gap: 4rem;
    margin: 0
}

.loan-N3 .footer-alert .footer-txt:nth-child(2) {
    margin: 4rem 0 1.6rem
}

.loan-N3 .footer-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: opacity 0.3s, visibility 0.3s;
    will-change: opacity;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.4rem;
    opacity: 0;
    visibility: hidden
}

.loan-N3 .footer-modal.block-active {
    opacity: 1;
    visibility: visible
}

.loan-N3 .modal-area {
    width: 100%;
    max-width: 92rem;
    background: var(--white);
    border-radius: 0.6rem
}

.loan-N3 .info-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.4rem;
    border-bottom: 1px solid #e5e5e5
}

.loan-N3 .modal-close {
    cursor: pointer
}

.loan-N3 .info-area {
    overflow-y: auto
}

.loan-N3 .modal-email .info-area {
    max-height: 17rem
}

.loan-N3 .modal-privacy .info-area {
    max-height: 70.3rem
}

.loan-N3 .info-group+.info-group {
    margin-top: 2.4rem
}

.loan-N3 .info-group strong {
    padding-bottom: 1.2rem;
    display: block
}

.loan-N3 .info-desc {
    max-height: 20.7rem;
    padding: 1.6rem;
    background: #f8f8fa;
    border-radius: 1.6rem;
    overflow-y: auto;
    scrollbar-width: none
}

.loan-N3 .info-desc p.fw-medium {
    font-weight: var(--fw-medium)
}

.loan-N3 .info-desc .mtb {
    margin: 2.4rem 0
}

.loan-N3 .info-desc em {
    font-style: normal;
    font-weight: 600;
    margin: 2.4rem 0 1rem;
    position: relative;
    display: flex;
    align-items: center
}

.loan-N3 .info-list em::before {
    content: "";
    width: 0.4rem;
    height: 0.4rem;
    background: var(--black);
    border-radius: 50%;
    margin-right: 0.8rem
}

.loan-N3 .info-list p {
    padding-left: 1.2rem
}

.loan-N3 .text-left {
    align-items: left
}

@media (max-width: 992px) {
    .loan-N3 {
        padding-top: 3rem;
        padding-bottom: 3rem
    }

    .loan-N3 .footer-gnb {
        display: none
    }

    .loan-N3 .footer-snslist {
        margin-top: 2.4rem
    }

    .loan-N3 .footer-menugroup {
        margin-top: 2.4rem
    }

    .loan-N3 .footer-txtgroup {
        margin-top: 2.4rem
    }

    .loan-N3 .footer-txt {
        flex-direction: column;
        align-items: center
    }

    .loan-N3 .footer-txt+.footer-txt {
        margin-top: 0.8rem
    }

    .loan-N3 .footer-txt p+p {
        margin-left: 0
    }

    .loan-N3 .footer-txt p.addr-info {
        gap: 0.4rem 1.3rem
    }

    .loan-N3 .footer-txt p.addr-info span:not(:first-child)::before {
        left: -0.6rem
    }

    .loan-N3 .footer-alert {
        overflow-y: auto;
        margin: 0 0 2.6rem;
        padding: 2rem 1.6rem;
        max-height: 35.6rem
    }

    .loan-N3 .footer-alert::-webkit-scrollbar {
        width: 0.4rem
    }

    .loan-N3 .footer-alert::-webkit-scrollbar-button {
        display: none
    }

    .loan-N3 .footer-alert::-webkit-scrollbar-thumb {
        background-color: #767676;
        border-radius: 10rem
    }

    .loan-N3 .footer-alert::-webkit-scrollbar-track {
        background-color: #e9e9e9
    }

    .loan-N3 .footer-alert .footer-txt {
        gap: 1.6rem
    }

    .loan-N3 .footer-alert .footer-txt:nth-child(2) {
        margin: 1.8rem 0
    }
}

@media (max-width: 576px) {
    .loan-N3 .footer-menulist {
        display: grid;
        grid-template-columns: auto auto;
        text-align: center
    }

    .loan-N3 .footer-menulink:nth-last-child(1):nth-child(odd) {
        grid-column: span 2
    }

    .loan-N3 .footer-menulink+.footer-menulink:nth-child(odd):after {
        content: none
    }
}